<div class="container">
	<footer>
		<small>Copyright &copy; 2017-<%= Time.now.year %> Vitaliy Kindiy</small>
		<nav>
			<menu>
				<li><%= link_to "About", about_path %></li>
			</menu>
		</nav>
	</footer>
</div>